body{font: 85%/1.3 TrebuchetMS,Arial,sans-serif;
     text-align: left;background: #fff;padding-bottom:20px}
a { color: inherit; background: inherit; text-decoration: none;}
a:hover {text-decoration: underline;}
h1 { font: bold 2.7em Trebuchet MS, Arial, Arial, Sans-Serif; color: #036DA7 }
h2 { font: bold 1.3em Trebuchet MS, Arial, Arial, Sans-Serif; padding: 0; margin: 0; }

div#header{width:100%;overflow:hidden;background: #151B54; }
div#header h1,div#menu{margin:0 auto;text-align:center}
div#header h1{padding: 0.5em 0 0.5em;color: #fff}
div#header img{padding-right: 10px;}

#right {
    float: left;
    width: 100%;
    padding: 0.7em;
    margin-bottom: 1.2em;
    background: #eee;
}

#content {
    font: 2.5em Trebuchet MS, Arial, sans-serif;
    margin-left: 0em;
    margin-right: 1.4em;
    padding: 0.3em;
    background: #fff;
}

.old {
    text-decoration: line-through;
    color: DimGray;
}

.even {
    background: LightGoldenrodYellow;
}

.odd {
    background: NavajoWhite;
}

tr.hiliterow:hover {
    background-color: #ccc;
}

.hidden {
    display: none;
}

td {
    text-decoration: inherit;

}

.centertext {
    text-align: center;
    vertical-align: top;
}

.ref {
    font-style: italic;
}

.floatylogo {
    float: right;
    vertical-align: top;
    text-align: right;
}

.hidediv {
    max-width:2ex;
    text-decoration: none;
    vertical-align: bottom;
    text-align: center;
    display: inline;
    text-decoration: none;
}

div.hidediv {
    max-width:2ex;
    text-decoration: none;
    vertical-align: bottom;
    text-align: center;
    display: inline;
    text-decoration: none;
}

.expdiv {
    max-width:2ex;
    text-decoration: none;
    vertical-align: bottom;
    text-align: center;
    display: inline;
    text-decoration: none;
}

div.expdiv {
    max-width:2ex;
    text-decoration: none;
    vertical-align: bottom;
    text-align: center;
    display: inline;
    text-decoration: none;
}

.hidebutton2 {
    text-align: left;
    list-style: none;
    margin: 1px;
    border: 1px solid #CCC;
    font-size: 0.5em;
    text-align: center;
    text-decoration: none;
    color: black;
}

.hidebutton2:hover {
    background-color: OrangeRed;
    text-align: center;
    list-style: none;
    margin: 1px;
    border: 1px solid #CCC;
    font-size: 0.5em;
    text-decoration: none;
    color: black;
}

.hidebutton3 {
    text-align: left;
    list-style: none;
    margin: 1px;
    border: 1px solid #CCC;
    font-size: 0.5em;
    text-align: center;
    text-decoration: none;
    color: black;
}

.hidebutton3:hover {
    background-color: OrangeRed;
    text-align: center;
    list-style: none;
    margin: 1px;
    border: 1px solid #CCC;
    font-size: 0.5em;
    text-decoration: none;
    color: black;
}

ul { padding: 0; margin: 0;}
li { list-style-type: none;}